.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.font-weight {
  font-weight: 600;
}

.text-disabled {
  opacity: 0.8;
}

.text-white {
  color: #ffffff;
}

.text-highlight {
  color: #d1d1d1;
}

.text-black {
  color: #333333;
}

.text-progress {
  color: #2e2e2e;
}

.text-warning-bold {
  color: #a33b00;
}

.text-success-bold {
  color: #007e45;
}